@import './vendor/normalize';

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

.page {
	min-height: 100vh;
	font-family: 'Montserrat Alternates', sans-serif;
	background-color: #F7EDE8;
}

.header {
	background-color: #000;
	display: flex;
	align-items: center;
	border-radius: 0 0 40px 40px;

	&__title {
		width: 100%;
		text-align: center;
		color: #fff;

		@media screen and (max-width: 767px) {
			font-size: 24px;
		}
	}
}

.posts {
	min-height: 80vh;
	margin-bottom: 100px;

	&__wrapper {
		width: 80%;
		margin: 100px auto 0;

		@media screen and (max-width: 767px) {
			width: 94%;
			margin-top: 42px;
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 100%;
		margin-bottom: 50px;
		max-width: 870px;
	}

	&__item {
		width: 100%;
		box-sizing: border-box;
		padding: 16px;
		border-radius: 12px;
		border: 2px solid var(--black, #000);
		background: #FFF;
		box-shadow: 10px 10px 0px 0px #81ADC8;
		position: relative;

		@media screen and (max-width: 767px) {
			padding-top: 46px;
			box-shadow: 5px 5px 0px 0px #81ADC8;
		}
	}

	&__item-top {
		display: flex;
		gap: 20px;

		@media screen and (max-width: 767px) {
			flex-direction: column;
			gap: 10px;
		}
	}

	&__img {
		width: 166px;
		height: 166px;
		display: block;
		object-fit: cover;
		border-radius: 8px;

		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}

	&__content {
		width: 72%;
		padding-top: 17px;
		box-sizing: border-box;

		@media screen and (max-width: 767px) {
			width: 100%;
			padding-top: 0;
		}
	}

	&__number {
		color: #CD4631;
		font-size: 16px;
		font-weight: 700;
		line-height: 160%;
		margin: 0;

		@media screen and (max-width: 767px) {
			position: absolute;
			top: 10px;
			left: 16px;
		}
	}

	&__subtitle {
		color: #CD4631;
		font-size: 22.65px;
		font-weight: 700;
		line-height: 140%;
		letter-spacing: -0.453px;
		margin: 4px 0 15px;

		@media screen and (max-width: 767px) {
			font-size: 20px;
		}
	}

	&__txt {
		color: #4D4D4D;
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		margin: 0;
		padding-top: 10px;
		border-top: 1px solid #4D4D4D;

		@media screen and (max-width: 767px) {
			font-size: 15px;
		}
	}

	&__item-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}

	&__category {
		color: #4D4D4D;
		font-size: 14px;
		font-weight: 500;
		line-height: 160%;
		box-sizing: border-box;
		padding: 4px 12px;
		border-radius: 4px;
		border: 1px solid #4D4D4D;
	}

	&__price {
		color: #4D4D4D;
		font-size: 22px;
		font-weight: 700;
		line-height: 160%;
		margin: 0;

		@media screen and (max-width: 767px) {
			font-weight: 20px;
		}
	}

	&__more {
		display: block;
		width: 40%;
		margin: 0 auto;
		border-radius: 8px;
		border: 2px solid #000;
		background: #000;
		box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		box-sizing: border-box;
		padding: 12px;
		text-align: center;

		@media screen and (max-width: 1023px) {
			width: 100%;
		}

		&_active {
			animation: pulse 1.5s infinite ease-in-out;
		}
	}
}